/* Import some source including fonts, icons */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  background: #fff;
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  background: url('../public/images/nature-background.jpg') no-repeat;
  background-size: cover;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-button-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 32px;
  background: rgb(20, 13, 53);
  color: #fff;
  font-weight: 600;
  outline: none;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.modal-button:hover {
  transform: translateY(-8px);
}

/* modal styles */
.modal-backdrop {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: 40;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}
.modal-content {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(40px);
  padding: 24px 32px;
  width: 500px;
  margin: auto;
  border-radius: 28px;
  gap: 20px;
  transition: all 0.2s ease-in-out;
}
.modal-content:hover {
  transform: scale(0.98);
}

.modal-content .modal-header {
  display: flex;
  align-items: center;
}
.modal-content .modal-header h4 {
  font-size: 24px;
  font-weight: 600;
}
.modal-content .modal-body {
  color: #666;
}

.modal-content .modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  margin-top: 40px;
}

/* button styles */
.flat-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 32px;
  border-radius: 20px;
  background: #000;
  font-weight: 600;
  color: #fff;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.flat-button:hover {
  transform: translateY(-4px);
}

.text-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.text-button:hover {
  transform: translateY(-4px);
}
